:root {
  --bg-primary: #14120b;
  --text-primary: #ededed;
  --text-secondary: #edededc4;
  --container-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #14120b;
}

.nav-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 17px;
  font-weight: 500;
}

.logo-img {
  height: 24px;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: var(--text-primary);
  font-size: 16px;
}
.nav-links a:hover {
  color: var(--text-secondary);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  padding: 4px 10px;
}

.btn-primary {
  background-color: var(--text-primary);
  color: var(--bg-primary);
}

.btn-primary:hover {
  background-color: #dbdada;
}

.btn-secondary {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  border: 1px solid #333;
}

.btn-secondary:hover {
  background-color: #1b1b1b;
}

.btn-large {
  padding: 12px 32px;
  font-size: 15px;
  font-weight: 600;
}

.hero-section {
  margin-top: 80px;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: left;
  /* border: 2px solid white; */
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.hero-title {
  font-size: 25px;
  font-weight: 600;
}

.hero-cta-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;


}
.hero-image-wrapper {
  width: 100%;
  max-width: 100%;
  margin-top: 5px;

}

.hero-img-content {
  width: 100%;
  height: auto;
  display: block;

}
