:root {
  --bg-primary: #000;
  --text-primary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  position: fixed;
  border: 2px solid #fff;
  width: 100%;
  background-color: #14120b;
}

.nav-container {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}
