:root {
  --bg-primary: #14120b;
  --text-primary: #ededed;
  --text-secondary: #edededc4;
  --logos-primary: #1B1913;
  --container-width: 1440px;
  --feature-primary: #1B1913

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #14120b;
}

.nav-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 17px;
  font-weight: 500;
}

.logo-img {
  height: 24px;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: var(--text-primary);
  font-size: 16px;
}
.nav-links a:hover {
  color: var(--text-secondary);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  padding: 4px 10px;
}

.btn-primary {
  background-color: var(--text-primary);
  color: var(--bg-primary);
}

.btn-primary:hover {
  background-color: #dbdada;
}

.btn-secondary {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  border: 1px solid #333;
}

.btn-secondary:hover {
  background-color: #1b1b1b;
}

.btn-large {
  padding: 12px 32px;
  font-size: 15px;
  font-weight: 600;
}

.hero-section {
  margin-top: 80px;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: left;
  /* border: 2px solid white; */
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}

.hero-title {
  font-size: 25px;
  font-weight: 600;
}

.hero-cta-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;


}
.hero-image-wrapper {
  width: 100%;
  max-width: 100%;
  margin-top: 5px;

}

.hero-img-content {
  width: 100%;
  height: auto;
  display: block;

}

.trusted-section {
  padding: 5px 10px;
  margin-bottom: 20px;

}

.trusted-text {
  text-align: center;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 28px;

}

.logos-flex {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  background-color: var(--logos-primary);
  border: 1px solid #222;
  border-radius: 6px;
  padding: 32px 48px;
  color: var(--text-primary);
  font-weight: 600;
  font-size: 18px;
}

.features-section {
  padding: 40px 0;
  background-color: var(--feature-primary);
  margin: 70px 40px 30px 40px ;
  padding-bottom: 20px;
}

.feature-block {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-bottom: 20px;

}

.feature-text {
  flex: 1;
}
.feature-text h3 {
    font-size: 22px;
    /* margin-bottom: 24px; */
}

.feature-text p {
    font-size: 18px;
    color: var(--text-secondary);
    line-height: 1.6;
    margin-bottom: 24px;
}

.feature-link {
  color: #F44E00;
  font-weight: 600;
  font-size: 18px;

}

.feature-link:hover {
  color: #ec4b00c9
}

.feature-image {
  flex: 1.5;
}

.feature-reverse {
  flex-direction: row-reverse;
}

.cta-section {
    text-align: center;
    padding: 160px 0;
}

.cta-section h1 {
  font-size: 64px;
  margin-bottom: 40px;
}

.footer-section {
  padding: 80px 0 40px 0;
  background-color: #1B1913;
  font-size: 14px;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 80px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 120px;

}

.footer-col h4{
  color: #888;
  font-size:14px ;
  font-weight: 500;
  margin: 0;

}

.footer-col ul{
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.footer-col a{
  color: var(--text-primary);
  font-weight: 400;
}

.footer-col a:hover {
  color: #888;
}

.footer-bottom {
  display: flex;
  justify-content: space-between
  
}

.lang-btn {
  background-color: #26241E;
  color: var(--text-primary);
}

.copyright {
  color: var(--text-secondary);
}
